
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #fafafa;
}

.cabecalho {
  width: 100%;
  background: #EBA1B8;
  border-bottom: 1px solid rgba(247, 245, 245, 0.06);
  position: sticky;
  top: 0;
  z-index: 50;
  text-decoration: none;
}

.cabecalho-conteudo {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  text-decoration: none;
}

.marca{
  text-decoration: none !important;
}

.marca-texto {
  font-family: 'Literata', serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-size: 18px;
}

.navegacao {
  display: flex;
  gap: 24px;
}

.link-nav {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.2s;
}

.link-nav:hover {
  color: #f9f0f3;
}

.banner {
  width: 100%;
  height: 420px; 
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%; 
  display: block;
}


.categorias {
  text-align: center;
  padding: 60px 20px;
}

.categorias h2 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  text-align: center;
}

.img-container {
  width: 290px;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card:hover .img-container {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card:hover .img-container img {
  transform: scale(1.08);
}

.card p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #222;
}

.card-final {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: #fff;
  margin-top: 60px;
  overflow: hidden;
  border-radius: 8px;
}

.imagem-card {
  flex: 1;
}

.imagem-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-card {
  flex: 1;
  background-color: #EBA1B8;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.texto-card h2 {
  font-family: "Literata", serif;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 20px;
  font-style: italic;
}

.texto-card p {
  font-family: "Quicksand", serif;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 400px;
}


.rodape {
  background-color: #EBA1B8;
  color: #fff;
  text-align: center;
  padding: 16px 0;
  margin-top: 60px;
  font-size: 14px;
}