<section class="cabecalho">
  <div class="cabecalho-conteudo">
    <a routerLink="/" class="marca">
      <span class="marca-texto">DEZLUMBRANTE</span>
    </a>
    <nav class="navegacao">
      <a routerLink="/home" class="link-nav">Comprar</a>
      <a routerLink="/produtos" class="link-nav">Buscar</a>
      <a routerLink="/login" class="link-nav link-conta">Conta</a>
      <a routerLink="/login" class="link-nav">Carrinho(0)</a>
    </nav>
  </div>
</section>

<section class="banner">
  <img src="header.jpg" alt="Mulher passando maquiagem" class="banner-img">
</section>


<section class="categorias">
  <h2>PRONTO PARA SE PRODUZIR</h2>
  <div class="cards">
    <div class="card">
      <div class="img-container">
        <img src="boca.jpeg" alt="Boca">
      </div>
      <p>Boca</p>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="olho.jpeg" alt="Olhos">
      </div>
      <p>Olhos</p>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="pele.jpeg" alt="Pele">
      </div>
      <p>Pele</p>
    </div>
  </div>
</section>

<section class="card-final">
  <div class="imagem-card">
    <img src="card.jpg" alt="Modelo de maquiagem">
  </div>
  <div class="texto-card">
    <h2>DEZLUMBRANTE</h2>
    <p>Realce sua beleza com elegância, economia e praticidade.</p>
  </div>
</section>


<footer class="rodape">
  <p>© 2025 DEZLUMBRANTE - Beleza que encanta!</p>
</footer>
