<header class="cabecalho">
  <a routerLink="/home" class="titulo-site">Dezlumbrante</a> 
  <div class="linha-rosa"></div>
</header>

<div class="container">
  <h2>Login</h2>
  <p>Seja bem-vinda de volta!</p>

  <form>
    <label for="email">E-mail:</label>
    <input id="email" type="email" placeholder="Digite seu e-mail">

    <label for="senha">Senha:</label>
    <input id="senha" type="password" placeholder="Digite sua senha">

    <a routerLink="/perfil">Entrar</a> 

  </form>

  <p class="link">
    Não possui conta?
    <a routerLink="/cadastro">Cadastre-se</a> 
  </p>


<footer class="rodape">
  <p>© 2025 DEZLUMBRANTE - Beleza que encanta!</p>
</footer>