.cabecalho {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 50;
  background: transparent; 
  padding-top: 10px;
  position: fixed;
}

.titulo-site {
  font-family: "Literata", serif;
  color: #EBA1B8;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  text-decoration: none; 
  display: inline-block;
}


.linha-rosa {
  width: 100%;
  height: 2px; 
  background: #EBA1B8; 
  margin-top: 20px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  color: #EBA1B8;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-family: 'Literata', Times, serif;
  font-style: semibold;
  font-style: italic;
}

p{
    font-family: "Quicksand", serif;
    color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
  margin-top: 1rem;
}

label {
  color: #EBA1B8;
  font-weight: 500;
  font-family: "Quicksand", serif;
  font-style: medium;
}

input {
  border: 1px solid #EBA1B8;
  border-radius: 10px;
  padding: 8px;
  outline: none;
}

form a {
  background-color: #EBA1B8;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
  align-items: center;
  font-family: 'Literata', serif;
}

.link {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.link a {
  color: #3b1fa7;
  text-decoration: none;
}

.rodape {
  width: 100%;
  background-color: #EBA1B8;
  text-align: center;
  padding: 16px 0;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
}


.rodape p{
    color: white;
}