<header class="cabecalho">
  <a routerLink="/home" class="titulo-site">Dezlumbrante</a> 
  <div class="linha-rosa"></div>
</header>

<section class="perfil-container">
  <h1 class="titulo">Perfil</h1>
  <div class="perfil-header">
    <img src="alessandra.jpg" alt="Foto do usuário" class="perfil-foto">

    <div class="perfil-info">
        <p>Alessandra Martins</p>
        <p>alessandra&#64;gmail.com</p>
    </div>
  </div>

  <div class="perfil-opcoes">

    <div class="perfil-opcao">
      <span>ALTERAR CONTA</span>
      <span class="seta">></span>
    </div>
    <div class="perfil-opcao">
      <span>MÉTODOS DE PAGAMENTO</span>
      <span class="seta">></span>
    </div>
  </div>
</section>

<footer class="rodape">
  <p>© 2025 DEZLUMBRANTE - Beleza que encanta!</p>
</footer>
